[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-material = {git = "https://github.com/leandrolerena/mkdocs-material-insiders.git", ref = "master"}
mkdocs-include-markdown-plugin = "*"
pip = "*"
install = "*"
mkdocs-pdf-export-plugin = "*"
mkdocs-include-dir-to-nav = "*"
mkdocs-multirepo-plugin = "*"
slugify = "*"
unicode = "*"
python-slugify = "*"
mkdocs-git-authors-plugin = "*"
mkdocs-monorepo-plugin = "*"

[dev-packages]

[requires]
python_version = "3.11"
